<h1> Kihon</h1>
<div class="wrapbtn">
<button type="button" class="btn btn-outline-primary"(click)="lexique()">Lexique technique</button>
<button type="button" class="btn btn-outline-primary"(click)="grade()">Kihon grades</button>
</div>
<div class="containKhion">
<!--LEXIQUES-->
    <div class="wlexique" *ngIf="lexiques">
        <h2>Lexique technique</h2>
        <h3>Tsuki</h3>
<p>
Maete zuki<br>
Kizami zuki<br>
Nagashi zuki<br>
Gyaku zuki<br>
Oï zuki<br>
Choku zuki<br>
Tate zuki<br>
Ura zuki<br>
Kagi zuki<br>
Nukite<br>
Hira basami<br>
Mawashi zuki<br>
</p>
<h3>Uchi</h3>
<p>
Uraken uchi<br>
Tetsui uchi<br>
Shuto uchi<br>
Haïto uchi<br>
Teïsho uchi<br>
Haïshu uchi<br>
Age empi uchi<br>
Mawashi empi uchi<br>
Otoshi empi uchi<br>
Yoko empi uchi<br>
Ushiro empi uchi<br>
Ura empi uchi<br>
Shomen uchi<br>
Yokomen uchi<br>
</p>
<h3>Keri</h3>
<p>
Mae geri<br>
Mawashi geri<br>
Yoko geri<br>
Ura mawashi geri<br>
Ushiro mawashi geri<br>
Ushiro geri<br>
Fumikomi<br>
Kakato geri<br>
Hiza geri<br>
</p>
<h3>Uke</h3>
<p>
Age uke<br>
Tate uke<br>
Juji uke<br>
Nagashi uke<br>
Soto uke<br>
Uchi uke<br>
Morote uke<br>
Kakiwake uke<br>
Otoshi uke<br>
</p>
<h3>Unsoku</h3>
<p>
Ayumi ashi<br>
Hiki ashi<br>
Yori ashi<br>
Tsugi ashi<br>
Mawate<br>
Kosa ashi<br>
Mawari ashi<br>
Ushiro mawari ashi<br>
</p>
<h3>Dachi</h3>
<p>
Hachiji dachi<br>
Zenkutsu dachi<br>
Kokutsu dachi<br>
Fudo dachi<br>
Kiba dachi<br>
Shiko dachi<br>
Neko ashi dachi<br>
Sanchin dachi<br>
Tsuru ashi dachi<br>
Kosa dachi<br>
Tenchijin<br>
Shizentaï<br>
Seïza<br>
</p>
<h3>Dori</h3>
<p>
Katate dori<br>
Kata dori<br>
Ude dori<br>
Kumikata<br>
</p>
<h3>Kansetsu</h3>
<p>
Ude garami<br>
Ude gatame<br>
Ikkyo<br>
Kote mawashi<br>
Nikyo<br>
Kote hineri<br>
Sankyo<br>
Waki gatame<br>
Kubi shime<br>
</p>
<h3>Nage</h3>
<p>
Ashi baraï<br>
Ushiro ashi baraï<br>
O goshi<br>
Haraï goshi<br>
Taï otoshi<br>
Seoï nage<br>
Ashi gaeshi<br>
Morote gari<br>
Sumi gaeshi<br>
Yoko wakare<br>
Tani otoshi<br>
</p>
<h3>Aïki nage</h3>
<p>
Sumi otoshi<br>
Kote gaeshi<br>
Kaïten nage<br>
Irimi nage<br>
Ude kime nage<br>
Shiho nage<br>
Aïki otoshi<br>
Ushiro kiri otoshi<br>
Kokyu nage (ue, shita, ude, fuse, irimi, nagashi)<br>
</p>

       
    </div>
<!--GRADES-->
    <div class="wgrade" *ngIf="grades">
        <h2>Kihon grades</h2>
    <div class="wiframe">
        <h3>Kihon pour la ceinture Jaune</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/Cg-mnUcDvWY" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <ol>
            <li>Oï zuki Jodan / Jodan Age uke + Gyaku zuki </li>
            <li>Oï zuki Chudan / Soto uke + Gyaku zuki</li>
            <li>Mae geri + Tsuki / Gedan baraï (45°) + Gyaku zuki</li>
        </ol>
        
    </div>

    <div class="wiframe">
        <h3>Kihon pour la ceinture Orange</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/bd2eFOq6XvE" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <ol>
            <li>Oï zuki Jodan / Jodan Tate uke (kokutsu dachi) + Gyaku Ura zuki </li>
            <li>Oï zuki Chudan / Shuto uke (kokutsu dachi 45°) + Gyaku Shuto uchi</li>
            <li> Mae geri + Tsuki / Uchi baraï (kiba dachi 45°) + Gyaku Haïto uchi</li>
            <li>Mawashi geri + Uraken / Uchi uke (45°) + Gyaku Teïsho uchi</li>
        </ol> 
    </div>

    <div class="wiframe">
        <h3>Kihon pour la ceinture Verte</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/XH8XOEpyHuQ" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>

        <ol>
            <li> Oï zuki Jodan / Jodan Teïsho uke + Gyaku Mawashi Empi </li>
            <li>Oï zuki Chudan / Osae uke + Gyaku Nukite</li>
            <li>Mae geri + Tsuki / Gyaku Gedan baraï + Fumikomi (kiba dachi)</li>
            <li> Mawashi geri + Uraken / Tate Shuto uke (kiba dachi 45°) + Yoko Empi</li>
            <li>Yoko geri + Tetsui (kiba dachi) / Otoshi uke (kiba dachi) + Kagi zuki</li>
        </ol>
    </div>
</div><!--end grades-->

    <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/accueil']">retour</button>
</div>