
<h1>Les Katas Supérieurs Shinjukaï</h1>
<div class="containKhion">

    <div class="wiframe">
        <h3>Shinju Shodan</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/sFtQZc-KSrU" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
       <p> Reculer Jambe Droite en Zenkutsu Dachi avec Jodan Age Uke
Chudan Gyaku Tsuki, Jodan Maete Tsuki<br>
Mae Geri Jambe Arrière, reposer derrière en Zenkutsu Dachi<br><br>

Décaler la Jambe Avant en Kokutsu Dachi avec Chudan Otoshi Uke<br>
Jodan Gyaku Nukite, Jodan Shuto Uchi<br>
Mawashi Geri Jambe Avant, reposer devant en Kokutsu Dachi<br><br>

Décaler la Jambe Avant en Shiko Dachi avec Jodan Tate Uke<br>
Jodan Gyaku Haito Uchi, Chudan Tetsui Uchi<br>
Ura Mawashi Geri Jambe Avant, reposer devant en Shiko Dachi<br><br>

Décaler la Jambe Avant en Kiba Dachi avec Jodan Soto Uke<br>
Chudan Gyaku Kagi Tsuki, Chudan Yoko Empi Uchi<br>
Yoko Geri Jambe Avant, reposer devant en Kiba Dachi<br><br>

Regrouper la Jambe Arrière en Kosa Dachi avec Gedan Baraï<br>
Ramener le Pied Droit en Kiba Dachi avec Jodan Gyaku Teïsho Uchi Jodan, Uraken Uchi<br>
Fumikomi Jambe Avant, reposer devant en Kiba Dachi<br><br>

Ramener la Jambe Avant en Neko Ashi Dachi avec Chudan Uchi Uke<br>
Jodan Gyaku Age Empi Uchi, Jodan Mawashi Empi Uchi<br>
Ura Mikazuki Geri Jambe Avant, reposer devant en Neko Ashi Dachi<br><br>

Pivoter sur les plantes de pieds pour passer en Sanchin Dachi avec Gedan Nagashi Baraï<br>
Chudan Gyaku Ura Tsuki Jodan, Mawashi Tsuki Jodan<br>
Morote Kata dori + Mae Hiza Geri Arrière, reposer derrière en Sanchin Dachi<br><br>

Avancer la Jambe Avant en Fudo Dachi avec Gedan Uchi Baraï,<br>
Chudan Gyaku Tsuki<br>

        </p>
    </div>

    <div class="wiframe">
        <h3>Shinju Nidan</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/JZIlVe8yGOc" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <p>Avancer Jambe Droite en TenChiJin avec Shomen Uchi<br>
            Passer en Neko Ashi Dachi avec Gyaku Morote Uke<br>
            Mawari Ashi en TenChiJin avec Gyaku Gedan Shuto Nagashi Baraï + Jodan Teisho Uchi<br><br>
            
            Ramener la Jambe Droite en Heisoku Dachi avec Tate Shuto Uke Gauche<br>
            Avancer la Jambe Gauche en Zenkutsu Dachi avec Gyaku zuki, Teisho Awase Uke Jodan, Teisho Awase Uke Jodan de l’autre côté<br>
            Jodan Ushiro Shuto Uchi (en rotation) en Kosa Dachi<br><br>
            
            Mawashi Geri Jambe Droite<br>
            Poser devant en Zenkutsu Dachi avec Gyaku Jodan Tate Uke<br>
            Gyaku Gedan Baraï<br>
            Gyaku Morote Uke<br><br>
            
            Avancer Jambe Gauche en Zenkutsu Dachi avec Gyaku Osae Uke + Nukite<br>
            Pivoter vers la droite sur les plantes de pieds avec Gyaku Gedan Ura Teisho Baraï<br>
            Hiki Ashi Kiba Dachi avec Uchi Barai<br>
Yori Ashi Avant avec Yoko Empi Uchi (+ Teisho du bras arrière au milieu du torse)<br><br>

Ramener la Jambe Avant Droite pour faire Ushiro Mawashi Geri Gauche<br>
Poser devant de profil en Kosa Dachi avec Morote Uke<br>
Ramener Jambe Droite avec Nami Gaeshi Gauche<br>
Poser devant en Fumikomi Gauche avec Tetsui Uchi (main collée au bras)<br><br>

Décaler Jambe Avant en Zenkutsu Dachi Gyaku Teisho Uchi<br>
Shuto Uchi<br>
Hiki Ashi Neko Ashi Dachi avec Gyaku Shuto Age Uke + Jodan Shuto Uchi<br>
Mae Geri Jambe Avant<br>
Reposer devant en Zenkutsu Dachi avec Gyaku Gedan Baraï + Uchi Uke<br><br>

Hiki Ashi en Zenkutsu Dachi avec Morote Osae Uke<br>
Mae Hiza Geri Jambe Arrière et reposer derrière<br>

            
        </p>
    </div>

    <div class="wiframe">
        <h3>Shinju Sandan</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/bQ6fA0M6P2A" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <p>Hiki Ashi Droit en Zenkutsu Dachi avec Jodan Age Uke, Otoshi Uke<br>
            Jodan Uraken Uchi, Gyaku Tsuki<br>
            Mae Geri Jambe Arrière en reposant derrière en Fudo Dachi<br><br>
            
            Mawari Ashi Exterieur avec Soto Uke, Gyaku Uchi Uke<br>
            Jodan Kizami Tsuki, Yori Ashi Gyaku Ura Tsuki<br>
            Tsugi Ashi Mawashi Geri Jambe Avant en reposant devant en Fudo Dachi<br><br>
            
            Yori Ashi Arrière Droit à 45° en Kokutsu Dachi avec Jodan Haishu Uke, Osae Uke<br>
            Passer en Zenkutsu Dachi avec Jodan Shuto Uchi (intérieur) Jodan Gyaku Haito Uchi, Jodan Shuto Uchi (extérieur)<br>
            Kosa Ashi vers la Gauche avec Jodan Teisho Uke, Gyaku Uraken Uchi en Fudo Dachi<br><br>
            
            Yori Ashi Arrière Gauche à 45° en Neko Ashi Dachi avec Shuto Uke, Kake Uke<br>
            Kakate Dori, Mae Geri Jambe Avant en posant devant en Zenkutsu Dachi Jodan Gyaku Teisho Uchi<br>
            Récupérer l’axe central en Ayumi Ashi avec Gyaku Age Empi<br><br>
            
            Ushiro Mawari Ashi pour faire demi tour avec Gedan Baraï<br>
            Décaler la Jambe Arrière vers la Gauche en Zenkutsu Dachi avec Jodan Tate Uke de coté<br>
            Yoko Geri Jambe Arrière (sur le côté), poser en Zenkutsu Dachi, Gyaku Tsuki<br><br>
            
            Reprendre l’axe en Mawari Ashi Extérieur avec Gedan Uchi Baraï en Kiba Dachi<br>
            Yori Ashi avec Chudan Yoko Empi<br>
            Ayumi Ashi en rotation par l’arrière avec Tetsui Uchi<br>
            Ramener le Pied Avant en Heisoku Dachi avec Gedan Nagashi baraï<br>
            Ayumi Ashi Jambe Droite avec Jodan Tsuki en Zenkutsu Dachi<br>
            
        </p>
    </div>
   
</div>
