
<h1>Base Shotokan</h1>
<div class="containKhion">

    <div class="wiframe">
        <h3>Heian Shodan</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/Q8pmCtK0SWQ" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <div class="wshot">
        <p>Gedan baraï gauche, Oï-zuki droit<br><br>
            Gedan baraï droit, Tetsui uchi (vertical), Oï-zuki gauche<br><br>
            Gedan baraï gauche, Shuto Age uke, avancer Age uke (3 fois)<br><br>
            Gedan baraï gauche, Oï-zuki droit<br><br>
            Gedan baraï droit, Oï-zuki gauche<br><br>
            Gedan baraï gauche, avancer Oï-zuki (3 fois)<br><br>
            Kokutsu dachi Shuto uke gauche, avancer 45° Shuto uke droit<br><br>
            Shuto uke droit, avancer 45° Shuto uke gauche<br><br>
            
        </p>
    </div>
    </div>

    <div class="wiframe">
        <h3>Heian Nidan</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/vmswaAjeR08" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <div class="wshot">
            <p>Kokutsu dachi vers la gauche Morote Haïwan uke, Soto uke + ura zuki, Yoko zuki<br><br>
                Vers la droite Morote Haïwan uke, Soto uke + ura zuki, Yoko zuki<br><br>
                Ramener pied gauche au milieu, Yoko geri, poser derrière Shuto uke<br><br>
                Avancer Shuto uke (deux fois), avancer Zenkutsu dachi gyaku Osae uke + Nukite<br><br>
                Kokutsu dachi Shuto uke gauche, avancer 45° Shuto uke droit<br><br>
                Shuto uke droit, avancer 45° Shuto uke gauche<br><br>
                Zenkutsu dachi Gyaku Uchi uke, Mae geri, poser devant Gyaku zuki, dégagement bras gauche, Mae geri, poser devant Gyaku zuki, avancer Morote uke.<br><br>
                Gedan baraï gauche, Shuto Age uke à 45°, avancer 45° Age uke<br><br>
                Gedan baraï droit, Shuto Age uke à 45°, avancer 45° Age uke<br><br>
                
                
            </p>
        </div>
    </div>

    <div class="wiframe">
        <h3>Heian Sandan</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/H0tZ_2l5P3E" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <div class="wshot">
            <p>Kokutsu dachi vers la gauche Uchi uke, avancer Heïsoku dachi Gedan baraï gauche + Uchi uke droit, inverser<br><br>
                Kokutsu dachi vers la droite Uchi uke, avancer Heïsoku dachi Gedan baraï droit + Uchi uke gauche, inverser<br><br>
                Kokutsu dachi Morote uke gauche, avancer Zenkutsu dachi gyaku Osae uke + Nukite, avancer Kiba dachi en rotation par l'arrière avec Tetsui uchi (horizontal), avancer Oï-zuki<br><br>
                Demi tour Heïsoku dachi (poings sur les hanches)<br><br>
                Avancer Fumikomi de profil, poser en Kiba dachi, Empi uke, Uraken uchi (vertical) (3 fois)<br><br>
                Tate shuto uke, avancer Oï-zuki<br><br>
                Avancer pied droit en Heïko dachi, rotation arrière autour du pied droit, poser en Kiba dachi, Ushiro empi uchi gauche + Tsuki à l'épaule droite<br><br>
                Yori ashi vers la droite, Ushiro empi uchi droit + Tsuki à l'épaule gauche.<br><br>
                
                
                
            </p>
        </div>
    </div>
   
    <div class="wiframe">
        <h3>Heian Yodan</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/KQtPVR63pQo" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <div class="wshot">
            <p>Kokutsu dachi vers la gauche, Morote Haïwan uke (mains ouvertes)<br><br>
                Kokutsu dachi vers la droite, Morote Haïwan uke (mains ouvertes)<br><br>
                Zenkutsu dachi dans l'axe avec gedan Juji uke, avancer en Kokutsu dachi Morote uke<br><br>
                Yoko geri + Uraken uchi vers la gauche, poser en Zenkutsu dachi avec gyaku Mawashi Empi uchi dans la main.<br><br>
                Yoko geri + Uraken uchi vers la droite, poser en Zenkutsu dachi avec gyaku Mawashi Empi uchi dans la main.<br><br>
                Gedan Shuto baraï + gyaku Shuto Age uke dans l'axe, passer en Zenkutsu dachi gauche avec Shuto Age uke + gyaku Shuto uchi Jodan, Mae geri droit, poser devant avec gyaku Osae uke, ramener le pied gauche en Kosa dachi avec Uraken uchi (vertical)<br><br>
                Demi tour et décalage 45° en Kokutsu dachi gauche avec Kakiwake uke, Mae geri droit, posé devant en Zenkutsu dachi, maete zuki, gyaku zuki<br><br>
                Décalage 45° en Kokutsu dachi droit avec Kakiwake uke, Mae geri gauche, posé devant en Zenkutsu dachi, maete zuki, gyaku zuki<br><br>
                Décaler pied gauche en Kokutsu dachi avec Morote uke, avancer Morote uke (2 fois)<br><br>
                Passer en Zenkutsu dachi gauche avec saisie + Mae Hiza geri, poser derrière en demi tour avec Shuto uke en Kokutsu dachi, avancer Shuto uke.<br><br>
            </p>
        </div>
    </div>

    <div class="wiframe">
        <h3>Heian Godan</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/fKwdFEOJR0A" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <div class="wshot">
            <p>Kokutsu dachi vers la gauche avec Uchi uke, gyaku zuki, ramener pied droit en Heïsoku dachi + Kagi zuki gauche.<br><br>
                Kokutsu dachi vers la droite avec Uchi uke, gyaku zuki, ramener pied gauche en Heïsoku dachi + Kagi zuki droit.<br><br>
                Dans l'axe, Kokutsu dachi droit avec Morote uke, avancer Zenkutsu dachi avec Gedan Juji uke (poings fermés), Jodan Juji uke (mains ouverte), enrouler pour saisir à la hanche droite, Maete zuki, avancer Oï zuki<br><br>
                Demi tour autour du pied arrière avec Fumikomi droit + Gedan baraï droit<br><br>
                Regard à gauche avec Haïshu, Mikazuki geri droit dans la main, poser en Kiba dachi avec Mawashi Empi droit dans la main<br><br>
                Ramener pied gauche en Kosa dachi avec Morote uke vers la droite, demi tour en Renoji dachi avec gyaku Jodan Ura zuki en arrière.<br><br>
                Saut avec le genou droit, poser en Kosa dachi avec Gedan Juji uke, décaler pied droit en Zenkutsu dachi avec Morote uke<br><br>
                Demi tour Zenkutsu dachi gauche, Teïsho uke + gyaku Gedan Nukite, passer en Kokutsu dachi avec  Mangi uke<br><br>
                Changer de garde en Zenkutsu dachi droit, Teïsho uke + gyaku Gedan Nukite, passer en Kokutsu dachi avec Mangi uke.<br><br>
                
            </p>
        </div>
    </div>
</div>

