
<h1>Les Armes japonaises</h1>
<div class="containKhion">

    <div class="wiframe">
        <h3>Tanbo no kata</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/WolPJdX7uk8" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
       <ol>
           <li>Reculer une Jambe en Arrière avec Age Uke à deux mains</li>
           <li>Yokomen Uchi</li>
           <li>Uchi Uke à deux mains</li>
           <li>Shomen Uchi (main du bas)</li>
           <li>Yori Ashi Avant avec Tetsui Uchi</li>
           <li>Yori Ashi Arrière avec Soto Uke à deux mains</li>
           <li>Shomen Uchi (main du haut)</li>
           <li>Yori Ashi Avant avec Tetsui Uchi</li>
           <li>Yori Ashi Arrière en Armant au dessus de la tête (pointe de l’arme vers l’avant)</li>
           <li>Yokomen Uchi</li>
           <li>Armer de l’autre côté (toujours en haut, pointe de l’arme vers l’avant)</li>
           <li>Ura Yokomen Uchi</li>
       </ol>
    </div>

    <div class="wiframe">
        <h3>Jo uke no kata</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/69qyfQNJoEA" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <ol>
            <li>Mawari Ashi Extérieur avec Soto Uke</li>
            <li>Yori Ashi Avant avec Tsuki puis Yori Ashi Arrière</li>
            <li>Mawari Ashi Intérieur avec Uchi Uke</li>
            <li>Yori Ashi Avant avec Yokomen Uchi</li>
            <li>Yori Ashi Arrière avec Age Uke</li>
            <li>Ura Yoko Baraï</li>
            <li>Hiki Ashi avec Ushiro Gedan no Kamae (Jo tenu en GyakuTe)</li>
            <li>Changement de Garde avec Mawari Ashi Extérieur et Gedan Uchi Barai (Jo tenu en GyakuTe)</li>
            <li>Yori Ashi Avant avec Tsuki (Jo tenu en GyakuTe) puis Yori Ashi Arrière</li>
            <li>Mawari Ashi Intérieur avec Otoshi Uke (Jo tenu en GyakuTe)</li>
            <li>Yori Ashi Avant avec Yokomen Uchi (Jo tenu en GyakuTe) puis Yori Ashi Arrière</li>
        </ol>
    </div>

    <div class="wiframe">
        <h3>Jo uchi no kata</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/EQeGzoeMTBY" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <ol>
            <li>Yori Ashi Avant avec Tsuki puis Yori Ashi Arrière</li>
            <li>Tsuki long avec Changement de Garde</li>
            <li>Tsuki long avec Changement de Garde</li>
            <li>Yori Ashi Avant avec Age Tsuki puis Yori Ashi Arrière</li>
            <li>Yori Ashi Avant avec Tsuki (Jo tenu en GyakuTe)</li>
            <li>Hiki Ashi avec Ushiro Tsuki (Jo tenu en GyakuTe)</li>
            <li>Ayumi Ashi avec Yokomen Uchi (Jo tenu en GyakuTe)</li>
            <li>Hiki Ashi avec Ushiro Tsuki</li>
            <li>Ayumi Ashi avec Yokomen Uchi</li>
            <li> Ura Yoko Baraï</li>
        </ol>
    </div>

    <div class="wiframe">
        <h3>Ken no kata</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/v3LJ7r9fxNs" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <ol>
            <li>Yori Ashi avec Shomen Uchi</li>
            <li>Yori Ashi Arrirère avec Shomen Uchi</li>
            <li>Armer à Droite pour Shomen Uchi avec changement de Garde</li>
            <li>Armer à Gauche pour Shomen Uchi avec changement de Garde</li>
            <li>Armer à Droite pour O Yoko Baraï avec changement de Garde</li>
            <li>Armer à Gauche pour O Yoko Baraï avec changement de Garde</li>
            <li>Armer à Droite pour Ko Yoko Baraï avec changement de Garde</li>
            <li>Armer à Gauche pour  Ko Yoko Baraï avec changement de Garde</li>
            <li>Changer de Garde pour Age Uke</li>
            <li>Yori Ashi Avant en retournant le Ken et présenter le Kisaki</li>
            <li>Regrouper la Jambe Arrière avec Tsuki bras long</li>
            <li>Yori Ashi Arrière puis Changement de Garde pour Age Uke</li>
            <li>Yori Ashi Avant en retournant le Ken et présenter le Kisaki</li>
            <li>Regrouper la Jambe Arrière avec Tsuki bras long, revenir en garde</li>
        </ol>
    </div>

    <div class="wiframe">
        <h3>Tanto uchi no kata</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/K_NunkQGtc8" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
       <ol>
           <li>Yori Ashi Avant avec MaeTe Tsuki puis retour Hiki Ashi</li>
           <li>Yori Ashi Avant avec Gyaku Tsuki puis Yori Ashi Arrière</li>
           <li>Oi Tsuki et retour en Hiki Ashi</li>
           <li>Ayumi Ashi avec Shomen Uchi puis Yori Ashi Arrière</li>
           <li>Yori Ashi Avant avec Shomen Uchi puis Yori Ashi Arrière</li>
           <li>Yori Ashi Avant avec Yokomen Uchi, Ura Yoko Age Uchi puis Yori Ashi Arrière</li>
           <li>Yori Ashi Avant avec Yoko Baraï, Ura Yoko Baraï puis Yori Ashi Arrière</li>
           <li>Yori Ashi Avant avec Yoko Age Uchi, Ura Yokomen Uchi puis Yori Ashi Arrière</li>
           <li>Yori Ashi Avant avec MaeTe Tsuki, Yoko Baraï puis Hiki Ashi</li>
           <li>Yori Ashi Avant avec Gyaku Tsuki, Ura Yoko Baraï puis Yori Ashi Arrière</li>
           <li>Oi Tsuki, Shomen Uchi puis Hiki Ashi</li>
           <li>Ayumi Ashi avec Shomen Uchi, Tsuki puis Yori Ashi Arrière</li>
           <li>Yori Ashi Avant avec Shomen Uchi, Tsuki puis Yori Ashi Arrière</li>
           <li>Yori Ashi Avant avec Yokomen Uchi, Ura Yoko Age Uchi, Tsuki puis Yori Ashi Arrière</li>
           <li>Yori Ashi Avant avec Yoko Baraï, Ura Kagi Tsuki, Ura Yoko Baraï, Kagi Tsuki puis Yori Ashi Arrière</li>
           <li>Yori Ashi Avant avec Yoko Age Uchi, Ura Yokomen Uchi, Tsuki puis Yori Ashi Arrière</li>
       </ol>
    </div>

    <div class="wiframe">
        <h3>Tanto uke no kata</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/fiJFvS5zPPg" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
      <ol>
          <li>Mawari Ashi Exterieur avec Soto Uke, Ura Kagi Tsuki</li>
          <li>Changement de Garde et Mawari Ashi Exterieur avec Gyaku Uchi Uke, Gyaku Kagi Tsuki</li>
          <li>Changement de Garde et Mawari Ashi Exterieur avec Soto Uke, Yori Ashi Avant avec Ura Yoko Baraï et Yoko Baraï puis Yori Ashi Arrière</li>
          <li>Changement de Garde et Mawari Ashi Exterieur avec Gyaku Uchi Uke, Yori Ashi Avant avec Gyaku Yoko Baraï et Gyaku Ura Yoko Baraï, Yori Ashi Arrière</li>
          <li>Changement de Garde et Mawari Ashi Exterieur avec Otoshi Uke, Hiki Ashi avec Gyaku Gedan Baraï puis Ayumi Ashi avec Tsuki et Yokomen Uchi</li>
          <li>Changement de Garde et Mawari Ashi Exterieur avec Gyaku Otoshi Uke, Hiki Ashi avec Uchi Baraï puis Ayumi Ashi avec Gyaku Yokomen Uchi et Tsuki</li>
      </ol>
    </div>
   
</div>

