
<h1>Ippon kumite</h1>
<div class="containKhion">

    <div class="wiframe">
        <h3>Ippon Kumite Atemi Jaune</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/G-i2yiKutDM"  frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
       <ol>
           <li>Oï zuki Jodan / Jodan Age uke + Gyaku zuki</li>
           <li>Oï zuki Chudan / Soto uke + Gyaku zuki</li>
           <li>Mae geri / Gedan baraï (45°) + Gyaku zuki</li>
       </ol>
    </div>

    <div class="wiframe">
        <h3>Ippon Kumite Nage Jaune</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/OkbeDCpWOSY" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <ol>
            <li>Oï zuki Jodan / Jodan Age uke + Sumi otoshi</li>
            <li>Oï zuki Chudan / Soto uke + Soto Kaïten nage</li>
            <li>Mae geri / Gedan baraï (45°) + Taï otoshi, Tsuki</li>
        </ol>
    </div>

    <div class="wiframe">
        <h3>Ippon Kumite Atemi Orange</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/ET1e0HNHuio" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
       <ol>
           <li>Oï zuki Jodan / Jodan Tate uke (kokutsu dachi) + Gyaku Ura zuki</li>
           <li>Oï zuki Chudan / Shuto uke (kokutsu dachi 45°) + Gyaku Shuto uchi</li>
           <li>Mae geri / Uchi baraï (kiba dachi 45°) + Gyaku Haïto uchi</li>
           <li>Mawashi geri / Uchi uke (45°) + Gyaku Teïsho uchi</li>
       </ol>
    </div>

    <div class="wiframe">
        <h3>Ippon Kumite Nage Orange</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/HC6DoFpgJAM" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <ol>
            <li>Oï zuki Jodan / Jodan Tate uke (kokutsu dachi) + Ashi baraï, Tsuki</li>
            <li> Oï zuki Chudan / Shuto uke (kokutsu dachi 45°) + Ude Kime nage</li>
            <li>Mae geri / Uchi baraï (kiba dachi 45°) + Ushiro Kiri otoshi</li>
            <li>Mawashi geri / Uchi uke (45°) + O goshi, Tsuki</li>
        </ol>
    </div>

    <div class="wiframe">
        <h3>Ippon Kumite Atemi Verte</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/lpgPCOxdqgM" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
      <ol>
          <li>Oï zuki Jodan / Jodan Teïsho uke + Gyaku Mawashi Empi</li>
          <li>Oï zuki Chudan / Osae uke + Gyaku Nukite (ou Hira basami)</li>
          <li>Mae geri + Tsuki / Gyaku Gedan baraï + Fumikomi (kiba dachi)</li>
          <li>Mawashi geri + Uraken / Tate Shuto uke (kiba dachi 45°) + Yoko Empi</li>
          <li>Yoko geri + Tetsui (kiba dachi) / Otoshi uke (kiba dachi) + Kagi zuki</li>
      </ol>
    </div>

    <div class="wiframe">
        <h3>Ippon Kumite Nage Verte</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/0VlmDGKeVSs" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        <ol>
            <li>Oï zuki Jodan / Jodan Teïsho uke + Ikkyo (nagashi)</li>
            <li>Oï zuki Chudan / Osae uke + Kokyu nage (ue)</li>
            <li>Mae geri + Tsuki / Gyaku Gedan baraï + Ushiro Ashi baraï, Tsuki</li>
            <li>Mawashi geri + Uraken / Tate Shuto uke (kiba dachi 45°) + Haraï goshi, Tsuki</li>
            <li>Yoko geri + Tetsui (kiba dachi) / Otoshi uke (kiba dachi) + Irimi nage</li>
        </ol>
    </div>
    <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/accueil']">retour</button>
</div>


