
<h1>Base Aïki Jujutsu</h1>
<div class="containKhion">

    <div class="wiframe">
        <h3>Nage No Kata</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/TGBn3XK6_vI" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        Série 1: Te Waza<br>
        <ol>
            <li>Jodan Oï zuki – Seoï Nage</li>
            <li>Chudan Oï zuki – Taï Otoshi</li>
            <li>Chudan Mae Geri – Ashi Gaeshi</li>
        </ol>
        Série 2: Koshi Waza<br>
        <ol>
            <li>Jodan Oï zuki – Haraï Goshi</li>
            <li>Chudan Oï zuki – Uki Goshi</li>
            <li>Chudan Mae Geri – O Goshi</li>
        </ol>
        Série 3: Ashi Waza<br>
        <ol>
            <li>Jodan Oï zuki – Ashi Baraï</li>
            <li>Chudan Oï zuki – Ushiro Ashi Baraï</li>
            <li>Chudan Mae Geri – Uchi Gake</li>
        </ol>
        Série 4: Sutemi Waza<br>
        <ol>
            <li>Jodan Oï zuki – Tani Otoshi</li>
            <li>Chudan Oï zuki – Sumi Gaeshi</li>
            <li>Chudan Mae Geri – Yoko Wakare</li>
        </ol>
    </div>

    <div class="wiframe">
        <h3>Aïki Nage No Kata</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/aZZMZXkGQew" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
      Série 1:<br>
      <ol>
          <li>Jodan Oï zuki – Sumi Otoshi</li>
          <li>Chudan Oï zuki – Soto Kaiten Nage</li>
          <li>Shomen Uchi – Kokyu Nage (nagashi)</li>
      </ol>
      Série 2:<br>
      <ol>
          <li>Jodan Oï zuki – Kokyu Nage (ude)</li>
          <li>Chudan Oï zuki – Ude Kime Nage (ura)</li>
          <li>Shomen Uchi – Ushiro Kiri Otoshi</li>
      </ol>
      Série 3:<br>
      <ol>
          <li>Jodan Oï zuki – Irimi Nage</li>
          <li>Chudan Oï zuki – Kokyu Nage (ue)</li>
          <li>Shomen Uchi – Kokyu Nage (fuse)</li>
      </ol>
      Série 4:<br>
      <ol>
          <li>Jodan Oï zuki – Kokyu Nage (shita)</li>
          <li>Chudan Oï zuki – Kote Gaeshi</li>
          <li>Shomen Uchi – Shiho Nage</li>
      </ol>
    </div>

    <div class="wiframe">
        <h3>Katame No Kata</h3>
        <iframe width="340" height="215" src="https://www.youtube.com/embed/N6GKSFoUVNI" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <h4>Description:</h4>
        Série 1:<br>
        <ol>
            <li>Shomen Uchi – Ikkyo (omote)</li>
            <li>Kata Dori – Ikkyo (ura)</li>
            <li>Chudan Oï zuki –  Kubi Jime (mae)</li>
        </ol>
        Série 2:<br>
        <ol>
            <li>Shomen Uchi – Nikyo (omote)</li>
            <li>Kata Dori – Nikyo (ura)</li>
            <li>Chudan Oï zuki – Kubi Jime (ushiro)</li>
        </ol>
        Série 3:<br>
        <ol>
            <li>Shomen Uchi – Kote Ineri</li>
            <li>Kata Dori – Kote Mawashi</li>
            <li>Chudan Oï zuki – Te Kubi Osae</li>
        </ol>
        Série 4:<br>
        <ol>
            <li>Shomen Uchi – Ude Garami</li>
            <li>Kata Dori – Waki Gatame</li>
            <li>Chudan Oï zuki – Hiji Jime Osae</li>
        </ol>
    </div>
</div>


